.save-date {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 2px;
    z-index: 999;
    position: fixed;
    background: rgb(255, 255, 255);
}

@media screen and (min-width: 20em) {
    .save-date {
        right: -9%;
        bottom: 3%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 30em) {
    .save-date {
        right: 30%;
        bottom: 5%;
        transform: translateX(-50%);
    }
}